extends layout

block content

  div(class="jumbotron vertical-center")
    div(id="menu" class="center")
      h1 Games Created
      
      p(class="green") #{success}
      p(class="red") #{error}
      br
      table
        tr
          th 
          th name
          th layout
          th share
          
        each game in games
          tr
            td
              button(class="btn btn-primary removeButton" id="#{game.gameID}") delete
            td #{game.gameName}
            td #{game.boardLayout}
            td
              input(type="text" name="qtyText" value="#{game.gameID}")
      br
      a(href="/" class="btn btn-default btn-block") Back
    
  script.
    $(document).ready( function () {
      $(".removeButton").click(function (e) {
         console.log(e.target.id);
        $.get( "removeGame/"+e.target.id, function( data ) {
          console.log(data);
          location.reload();
        });
      });
    });
    
